.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}
.menu123 {
  position: fixed;
}
body {
  background: #343a40;
}

footer {
  position: relative;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin-top: 60px;
}
